.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand{ :href => "#{@url}/" } Звонки за месяц
.container
  %h3 Ой, а такой страницы не существует...
  %p Вероятно, что-то пошло не так.
