!!! 5
%html{ :lang => "ru" } 
  %head
    %meta{ :charset => "utf-8" }
    %title Учёт звонков
    %meta{ :content => "Статистика исходящих звонков диспетчеров", :name => "description" }
    %meta{ :content => "Ilia Zhirov", :name => "author" }
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    %link{ :rel => "stylesheet", :href => "../assets/bootstrap.css" }
    %link{ :rel => "stylesheet", :href => "../assets/style.css" }
    %link{ :href => "../assets/responsive.css", :rel => "stylesheet" }

    %link{ :href => "../assets/favicon.ico", :rel => "shortcut icon" }
    %link{ :href => "../assets/apple-touch-icon.png", :rel => "apple-touch-icon" }
    %link{ :href => "../assets/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72" }
    %link{ :href => "../assets/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114" }
  %body
    = yield
    %script{ :src => "../assets/jquery.js" }
    %script{ :src => "../assets/spin.js" }
    %script{ :src => "../assets/bootstrap-transition.js" }
    %script{ :src => "../assets/bootstrap-alert.js" }
    %script{ :src => "../assets/bootstrap-modal.js" }
    %script{ :src => "../assets/bootstrap-dropdown.js" }
    %script{ :src => "../assets/bootstrap-scrollspy.js" }
    %script{ :src => "../assets/bootstrap-tab.js" }
    %script{ :src => "../assets/bootstrap-tooltip.js" }
    %script{ :src => "../assets/bootstrap-popover.js" }
    %script{ :src => "../assets/bootstrap-button.js" }
    %script{ :src => "../assets/bootstrap-collapse.js" }
    %script{ :src => "../assets/bootstrap-carousel.js" }
    %script{ :src => "../assets/bootstrap-typeahead.js" }
    %script{ :src => "../assets/jquery.spin.js" }
    %script{ :src => "../assets/jquery.fileDownload.js" }
    :javascript
      function spinup( callback ) {
        $('#export').spin('small');
        if ( callback && typeof callback == 'function' )
          callback();
      }
      
      $('#export').click( function() { 
        var disabled = $(this).attr('disabled');
        if ( !( typeof disabled !== 'undefined' && disabled !== false ) ) spinup( function() {
          $.fileDownload( $('#export').attr('href'), {
            successCallback : function( url ) { 
              $('#export').spin(false);
            }, 
            failCallback : function( url ) { 
              $('#export').spin(false);
              alert( 'Ошибка при выгрузке файла' ); 
            } 
          } );
        } );
      } );
      
